<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
	<head>
		<link media="all" rel="stylesheet" th:href="@{/css/our-wedding.css}" />
	</head>
	<section layout:fragment="additionalScripts">
		<script th:src="@{/js/our-wedding.js}"></script>
	</section>
	<div layout:fragment="content" th:inline="text">
		<section id="details">
			<div class="row">
				<div class="col-12">
					<h1>Wedding Details</h1>
				</div>
			</div>
			<div class="row">
				<div id="engagement-photo" class="col-12">
					<!--/* Image added by JavaScript */-->
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-12">
					<ul class="list-group">
						<li class="list-group-item"><strong>Date</strong>: February 29th, 2020</li>
						<li class="list-group-item">
							<div id="corpus-christi" class="mb-3">
								<p><strong>Ceremony</strong>: 1:00pm at <a href="http://www.corpuschristi.church" target="_blank">Corpus Christi Catholic Church</a></p>
								<p><a href="https://goo.gl/maps/4tjL2cik5TzyWaETA" target="_blank">1050 Celebration Avenue Celebration, FL 34747</a></p>
							</div>
							<!--/* Image added by JavaScript */-->
						</li>
						<li class="list-group-item">
							<div id="caribe-royale" class="mb-3">
								<p><strong>Cocktail hour</strong>: 5:00pm at <a href="https://www.cariberoyale.com" target="_blank">Caribe Royale</a></p>
								<p><a href="https://goo.gl/maps/YUowp7vJ9XnW4Ybq9" target="_blank">8101 World Center Drive, Orlando, Florida, 32821</a></p>
								<p>Reception to follow</p>
								<!--/* Image added by JavaScript */-->
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="story">
			<div class="row">
				<div class="col-12">
					<h1>Our Story</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body text-left">
							<p id="story-p1">
								<!--/* Image added by JavaScript */-->
								Ashley and Jon met on Match. Jon sent Ashley a peculiar, but authentic first message &quot;Hey Ashley, I see you're a Catholic too. Which church do you go to?&quot; Ashley quickly responded, and that was the beginning of a beautiful thing. After about a month of talking, they finally went on their first date. It was a nice dinner with hours of exhilarating conversation where they were able to connect on many different levels. From their family history in Cincinnati, to their love for cruising, they had a lot more in common than they thought. As time went on, the bond between them grew stronger and their love grew deeper.
							</p>
							<p id="story-p2">
								<!--/* Image added by JavaScript */-->
								Ashley always dreamed of a Disney fairytale proposal. Jon coordinated with Ashley's sister and her parents for an extravagant Disney proposal to make all her dreams come true. They had a wonderful day at Magic Kingdom, followed by an elegant dinner at the California Grill; a restaurant with a view of Cinderella's castle. Then Jon surprised Ashley with an intimate balcony setting for the proposal. Ashley's sister was hiding with a camera, Jon's dad and Ashley's brother-in-law were in the parking lot getting a different angle. Jon proposed on the balcony minutes before the fireworks over Cinderella's castle. Ashley was ecstatic and after a few tears, she said YES!!! They went from the balcony to a bar where unbeknownst to Ashley, her parents and grandparents were waiting. The room was filled with excitement and joy as everyone celebrated the newly engaged couple.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="party">
			<h1>Wedding Party</h1>
			<div class="row m-5 template d-none">
				<div class="col-12">
					<div class="card-deck mx-auto">
						<div class="card mx-auto">
							<img src="" class="card-img-top" alt="">
							<div class="card-body">
								<h3 class="card-title"></h3>
								<h4 class="card-text"></h4>
								<p class="card-text"></p>
							</div>
						</div>
						<div class="card mx-auto">
							<img src="" class="card-img-top" alt="">
							<div class="card-body">
								<h3 class="card-title"></h3>
								<h4 class="card-text"></h4>
								<p class="card-text"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</html>
