<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
	<head>
		<link media="all" rel="stylesheet" th:href="@{/css/registry.css}" />
	</head>
	<div layout:fragment="content" th:inline="text">
		<section id="registry">
			<div class="row">
				<div class="col-12">
					<h1>Registry</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card-deck mx-auto">
						<!-- Zola registry -->
						<div id="zola" class="card mx-auto">
							<img th:src="@{/img/registry/zola-scaled.png}" class="card-img-top p-5" alt="Zola">
							<div class="card-body">
								<a href="https://www.zola.com/registry/jonathanandashleyfebruary29" target="_blank" class="btn btn-primary">Shop Registry</a>
							</div>
						</div>
						<!-- Amazon registry -->
						<div id="amazon" class="card mx-auto">
							<img th:src="@{/img/registry/amazon-scaled.png}" class="card-img-top p-5" alt="Amazon">
							<div class="card-body">
								<a href="https://www.amazon.com/wedding/registry/XFNL8K4QYPCE?ref=wr_search_page_result_1" target="_blank" class="btn btn-primary">Shop Registry</a>
							</div>
						</div>
					</div>
					<div class="card-deck mx-auto mt-4">
						<!-- Williams Sonoma registry -->
						<div id="williams-sonoma" class="card mx-auto">
							<img th:src="@{/img/registry/williams-sonoma-scaled.png}" class="card-img-top p-5" alt="Williams Sonoma">
							<div class="card-body">
								<a href="https://www.williams-sonoma.com/registry/m6xwsz57pw/registry-list.html" target="_blank" class="btn btn-primary">Shop Registry</a>
							</div>
						</div>
						<!-- Pottery Barn registry -->
						<div id="pottery-barn" class="card mx-auto">
							<img th:src="@{/img/registry/pottery-barn-scaled.png}" class="card-img-top p-5" alt="Pottery Barn">
							<div class="card-body">
								<a href="https://www.potterybarn.com/registry/m6xwsz57pw/registry-list.html" target="_blank" class="btn btn-primary">Shop Registry</a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
	</div>
</html>

