<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
	<head>
		<link media="all" rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
		<link media="all" rel="stylesheet" th:href="@{/css/rsvp.css}" />
	</head>
	<section layout:fragment="additionalScripts">
		<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
		<script th:src="@{/js/rsvp.js}"></script>
	</section>
	<div layout:fragment="content" th:inline="text">
		<section id="rsvp">
			<div class="row">
				<div class="col-12">
					<h1>RSVP</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p class="alert alert-warning" role="alert">
						<strong>A Special Note from Jonathan and Ashley:</strong><br />
						Please fill out the RSVP form for each person listed on the invitation.
						We want to make sure we have correct numbers and that you get the meal of your choice. All children are welcome
						at the ceremony at Corpus Christi. If you will require child care services for the reception, please visit the
						<a th:href="@{/extras/#child-care}">child care</a> tab under extras for some reputable babysitters we found.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<form id="addGuestForm" th:action="@{/rsvp/add-guest}" th:object="${guest}" method="post" class="form">	
						<p th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							There was a problem saving your RSVP information. Check the highlighted fields and try again.
						</p>
						<p th:if="${success}" class="alert alert-success">
							We have received your RSVP. Thank you and we look forward to seeing you at the wedding.
						</p>
						<div th:if="${sesFailure}" class="alert alert-warning">
							<p>
								We were unable to send a confirmation to the email address provided, but your RSVP information has been successfully recorded.
								If you would like to confirm, you can contact us directly.
							</p>
							<ul class="text-left">
								<li>
									Jonathan
									<ol>
										<li>Call or text: <a href="tel:386-451-2358">386-451-2358</a></li>
										<li>Email: <a href="mailto:JonPecoraro@gmail.com?Subject=Wedding%20Website%20Error">JonPecoraro@gmail.com</a></li>
									</ol>
								</li>
								<li>
									Ashley
									<ol>
										<li>Call or text: <a href="tel:859-663-6338">859-663-6338</a></li>
										<li>Email: <a href="mailto:AshleyWill283@gmail.com?Subject=Wedding%20Website%20Error">AshleyWill283@gmail.com</a></li>
									</ol>
								</li>
							</ul>
						</div>
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-5">
										<label for="firstName">* First Name</label>
										<input type="text" th:field="*{firstName}" th:class="${#fields.hasErrors('firstName') ? 'form-control border border-danger' : 'form-control'}" />
										<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></p>
									</div>
									<div class="col-sm-5">
										<label for="lastName">* Last Name</label>
										<input type="text" th:field="*{lastName}" th:class="${#fields.hasErrors('lastName') ? 'form-control border border-danger' : 'form-control'}" />
										<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></p>
									</div>
									<div class="col-sm-2">
										<label for="suffix">Suffix</label>
										<select th:field="*{suffix}" class="form-control">
											<option
												th:each="option : ${suffixOptions}"
												th:value="${option}"
												th:text="${option}"
												th:selected="${option == selectedSuffix}" >
											</option>
										</select>
									</div>
								</div>
								<div class="row py-5">
									<div class="col-sm-6">
										<label for="email">* Email</label>
										<input type="email" th:field="*{email}" th:class="${#fields.hasErrors('email') ? 'form-control border border-danger' : 'form-control'}" />
										<label for="sendVerificationEmail">Send me a verification email &nbsp;&nbsp;</label>
										<div class="form-check-inline">
												<input class="form-check-input" type="radio" name="sendVerificationEmail" id="sendVerificationEmail1" value="Yes" checked="checked" />
												<label class="form-check-label" for="sendVerificationEmail1">Yes</label>
											</div>
											<div class="form-check-inline">
												<input class="form-check-input" type="radio" name="sendVerificationEmail" id="sendVerificationEmail2" value="No" />
												<label class="form-check-label" for="sendVerificationEmail2">No</label>
											</div>
										<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
									</div>
									<div class="col-sm-6">
										<label for="foodChoice1">* RSVP</label>
										<div th:class="${#fields.hasErrors('rsvpResponse') ? 'border border-danger' : ''}">
											<div class="form-check-inline">
												<input class="form-check-input" type="radio" name="rsvpResponse" id="rsvpResponse1" value="Yes" />
												<label class="form-check-label" for="rsvpResponse1">Accepts with pleasure</label>
											</div>
											<div class="form-check-inline">
												<input class="form-check-input" type="radio" name="rsvpResponse" id="rsvpResponse2" value="No" />
												<label class="form-check-label" for="rsvpResponse2">Declines with regret</label>
											</div>
											<p th:if="${#fields.hasErrors('rsvpResponse')}" th:errors="*{rsvpResponse}" class="text-danger"></p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<label for="foodChoice1">Meal Selection</label>
										<div>
											<div class="form-check-inline">
												<input class="form-check-input" type="radio" name="foodChoice" id="foodChoice1" value="Chicken" />
												<label class="form-check-label" for="foodChoice1">
													Chicken (GF)
													<span id="private-message-info" class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="Gluten free lemon pepper chicken with seasonal vegetables and roasted herb potatoes">i</span>
												</label>
											</div>
											<div class="form-check-inline">
												<input class="form-check-input" type="radio" name="foodChoice" id="foodChoice2" value="Fish" />
												<label class="form-check-label" for="foodChoice2">
													Fish
													<span id="private-message-info" class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="Florida blood orange and aged balsamic vinegar glazed salmon with whipped potatoes and broccolini">i</span>
												</label>
											</div>
											<div class="form-check-inline">
												<input class="form-check-input" type="radio" name="foodChoice" id="foodChoice3" value="Kids meal" />
												<label class="form-check-label" for="foodChoice3">
													Kids meal
													<span id="private-message-info" class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="Farm raised, baked chicken fingers with fries">i</span>
												</label>
											</div>
											<div class="form-check-inline">
												<input class="form-check-input" type="radio" name="foodChoice" id="foodChoice4" value="Dietary restricted" />
												<label class="form-check-label" for="foodChoice4">
													Dietary restricted
													<span id="private-message-info" class="badge badge-secondary" data-toggle="tooltip" data-placement="top" title="Let us know of any food restrictions you have and we will work with you on a person-by-person basis">i</span>
												</label>
											</div>
											<div class="form-check-inline">
												<input class="form-check-input" type="radio" name="foodChoice" id="foodChoice5" value="Not eating" />
												<label class="form-check-label" for="foodChoice5">Not eating</label>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<label for="roomBlockYes">Do you plan to use the room block?</label>
										<div>
											<div class="form-check-inline">
												<input class="form-check-input" type="radio" name="plansToUseRoomBlock" id="roomBlockYes" value="Yes" />
												<label class="form-check-label" for="roomBlockYes">Yes</label>
											</div>
											<div class="form-check-inline">
												<input class="form-check-input" type="radio" name="plansToUseRoomBlock" id="roomBlockNo" value="No" />
												<label class="form-check-label" for="roomBlockNo">No</label>
											</div>
										</div>
									</div>
								</div>
								<input type="hidden" th:field="*{id}" />
								<button type="submit" class="btn btn-primary mt-4">RSVP</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
</html>